= link_to "Search options", search_options_path, :method => :get, :class => "button.btn.btn-block.btn-primary"
= link_to "Cars options", settings_cars_path, :method => :get, :class => "button.btn.btn-block.btn-primary"