Select Models:
%br
%select.chzn-select-model{:id => "models_select",:multiple => "multiple", :style => "width:300px", :name => "search[model][]"}
  = @models.each do |m|
    = build_model_option(m, @models_defaults)
:javascript
  $(".chzn-select-model").chosen({
      create_option: true,
      persistent_create_option: true,
      create_option_text: 'add',
  });